#project in progress
signals and eeg data exploring
data preprocessing

#data
mne_data/
data/

#models
*.pt

#wandb files
**/wandb/

#python cache
__pycache__/
*.pyc

#notebooks
*.ipynb_checkpoints/
eeg_preprocessing_pipeline.ipynb

#others
.DS_Store
BCICIV_2a_gdf.zip